.horizontal-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .horizontal-nav li {
    float: left;
  }
  
  .horizontal-nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  .horizontal-nav li a:hover {
    background-color: #111;
  }


 .vertical-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5b4949;
   
  }
  
  .vertical-nav li {
    float: left;
    
  }
  
  .vertical-nav li a {
    
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: block
  }
  
  /* Change the link color to #111 (black) on hover */
  .vertical-nav li a:hover {
    background-color: #111;
  }
    